body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

header ul{

    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

button {

    background-color: #3882F6;
    color: #f9faf8;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

footer {

    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    padding: 40px;
}

.bold 
{
    font-weight: bolder;
}

.logo-text
{
    font-size: 24px;
    color: #f9faf8;
}

.header-links
{
    text-decoration-line: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section-1
{   
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding-bottom: 100px;
    gap: 20px;
}

.hero-txt
{
    max-width: 700px;
    padding: 40px;
}

.hero-txt h1{
    max-width: 400px;
    font-size: 48px;
    color: #f9faf8;
}

.hero-txt p{
    max-width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img{

    width: 500px;
    height: 250px;
    border: 2px solid gray;
}

.section-2{

    margin: 30px;
    margin-bottom: 100px;
}

.section-2 h1
{   
   font-size: 36px;
   font-weight: bolder;
   color:#1f2937;
   text-align: center;
   margin-bottom: 50px;
}

.gallery
{   
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
}

.gallery .container
{
    display: flex;
    flex-direction: column;
}

.gallery-image{
    width: 225px;
    height: 225px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.img-subtext {

    font-size: 18px;
    color: gray;
    max-width: 225px;
    text-align: center;
    margin: 0;
}

.section-3
{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px;
    align-items: center;
}

.s3-quote
{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 10px;
    max-width: 900px;
}

.quotee
{
    width: 900px;
    text-align: right;
    font-weight: bolder;
    color: #1f2937;
}

.section-4 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.sign-up-modal {

    display: flex;
    background-color: #3882F6;
    width: 1200px;
    border: 6px solid #3882F6;
    border-radius: 10px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.sign-up-modal button{
    border: 2px solid white;
}