body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
}

header {
    background-color: #1f2937;
    display: flex;
}


button {

    background-color: #3882F6;
    color: #f9faf8;
}

.logo-text
{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links
{
    text-decoration-line: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section-1
{   
    display: flex;
    background-color: #1f2937;
}

.section-2 h1
{
   font-size: 36px;
   font-weight: bolder;
   color:#1f2937;
}

.gallery
{   
    display: flex;

}

.gallery-image img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
}

.gallery-image p{

    font-size: 
}

.section-3
{
    display: flex;
}